<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
        <div class="col-md-1"></div>
        <div class="col-md-11 d-flex align-items-center" style="font-size: 20px;">
            BMI calculator
        </div>
  </nav>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Calculate my BMI</h2>
        <form id="bmiForm" action="/BMI" method="post">
            <div class="mb-4 row justify-content-center ">
                <div class="col-md-6" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                    <label for="age" style="font-size: 20px;" class="form-label-age mb-1">Age</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="age" name="age" required placeholder="Enter your age"> 
                    </div>
                </div>
            </div>

            <div class="mb-3 row justify-content-center">
                <div class="col-md-6" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                    <label for="weight" style="font-size: 20px;" class="form-label-w mb-1">Weight</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="weight" name="weight" placeholder="Enter your weight" required>
                        <select class="small-select" name="weightUnit">
                            <option value="kg">kg</option>
                            <option value="g">g</option>
                            <option value="lbs">lbs</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3 row justify-content-center">
                <div class="col-md-6" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                    <label for="height" style="font-size: 20px;" class="form-label-h mb-1">Height</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="height" name="height" placeholder="Enter your height" required>
                        <select class="small-select" name="heightUnit">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                            <option value="inches">inches</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-4 row justify-content-center">
                <div class="col-md-6" id = "Gender">
                    <label for="gender" style="font-size: 20px; grid-area: A;" class="form-label-gender mb-1">Gender</label>
                    <div class="form-check" style="grid-area: B;">
                        <input class="form-check-input" type="radio" name="gender" id="" value="male">
                        <label class="form-check-label" for="exampleRadios1">Male</label>
                    </div>
                    <div class="form-check" style="grid-area: C;">
                        <input class="form-check-input" type="radio" name="gender" id="" value="female">
                        <label class="form-check-label" for="exampleRadios2">Female</label>
                    </div>
                </div>
            </div>

            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary mb-4" value="Calculate BMI">Calculate my BMI</button>
            </div>

        </form>

        <div class="text-center">
            <h3><span id="bmi"></span></h3>
            <h4 class="c1" ><span id="bmiCategory"></span> </h4>
        </div>

    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          Gainatulin Dias
          SE-2205
        </div>
    </footer>

    <script src="/public/index.js"></script>
</body>
</html>
